.blog_card_con {
    .name {
        font-family: Noto-Bold;
        font-weight: 600;
        font-size: 27px;
        line-height: 140%;
        letter-spacing: 0%;
        text-transform: capitalize;

    }

    .label {
        background-color: var(--primary-color);
        border-radius: 5px;
        padding: 5px;
        color: white;
        font-family: Noto-Light;
        font-weight: 400;
        font-size: 12px;
        text-transform: capitalize;


    }

    .image {



        & img {
            width: 100%;

        }

    }

    .user_data {
        font-family: Noto-Medium;
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0%;
        text-transform: capitalize;

    }

    .description {
        font-family: Noto-Light;
        font-weight: 400;
        font-size: 15px;
        line-height: 150%;
        letter-spacing: 0%;

    }
}

.recent_post_card_con {}