.logo_main_con {
    .note {
        background-color: var(--primary-color);
        font-family: Noto-Regular;
        font-weight: 600;
        font-size: 27px;
        letter-spacing: 2%;
        text-transform: capitalize;
        color: #FFFFFF;

    }

    .book {
        font-family: Noto-Medium;
        font-weight: 600;
        font-size: 17px;
        line-height: 100%;
        letter-spacing: 0%;

    }

    .dot {
        color: var(--primary-color);
    }
}

.title_main_con {
    .title {
        background-color: var(--primary-color);
        font-family: Noto-Medium;
        font-weight: 600;
        font-size: 21px;
        line-height: 140%;
        letter-spacing: 0%;
        text-transform: capitalize;
        color: white;

    }

    .subtitle {
        font-family: Noto-Regular;
        font-weight: 600;
        font-size: 21px;
        line-height: 140%;
        letter-spacing: 0%;
        text-transform: capitalize;

    }
}

.author_card_con {
    .author_image {
        width: 100px;
        height: 100px;
        min-width: 100px;
        border-radius: 50%;
        background-color: rgb(189, 188, 188);
    }

    .author_name {
        font-family: Noto-Regular;
        font-weight: 600;
        font-size: 17px;
        line-height: 100%;
        letter-spacing: 0%;
        text-transform: capitalize;
        color: #222222;
    }

    .author_description {
        font-family: Noto-Light;
        font-weight: 300;
        font-size: 12px;
        line-height: 150%;
        letter-spacing: 0%;
        text-transform: capitalize;

    }
}

.category_con {
    .category_item {
        border-bottom: 1px dotted #D1E7E5;
        padding: 10px;
        font-family: Noto-Regular;
        font-weight: 500;
        font-size: 15px;
        line-height: 150%;
        letter-spacing: 0%;
        text-transform: capitalize;

    }
}

.update_card_con {
    background-color: #F2F8F7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;

    .update_card_value {
        font-family: Noto-Regular;
        font-weight: 600;
        font-size: 24px;
        line-height: 140%;
        letter-spacing: 0%;
        text-align: center;
        text-transform: capitalize;
        color: var(--primary-color);

    }

    .update_card_title {
        font-family: Noto Sans;
        font-weight: 400;
        font-size: 15px;
        line-height: 150%;
        letter-spacing: 0%;
        text-align: center;
        text-transform: capitalize;
        color: #222222;
    }
}

.blog_searching_con {
    .tag_item {
        font-family: Noto-Medium;
        font-weight: 400;
        font-size: 15px;
        line-height: 100%;
        letter-spacing: 0%;
        text-transform: capitalize;
        color: #666666;
        border: 1px solid #C4C4C4;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    .selected_tag_item {
        background-color: var(--primary-color);
        color: white;
    }
}